@font-face {
  font-family: Android;
  src: url(fontes/idroid.otf) format("opentype");
}

body {
  margin: 0;
  background-color: rgb(130, 231, 130);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(to bottom, rgb(8, 194, 92), rgb(0, 49, 15));
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  text-align: left;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

nav a:hover {
  text-decoration: underline;
  background-color: rgb(15, 141, 53);
}

article p {
  text-indent: 20px;
  text-align: justify;
}

main {
  width: 800px;
  margin: auto;
  background-color: white;
  padding: 20px;
}

article h2 {
  margin: 0;
}

article h2,
article h3 {
  font-family: Android, sans-serif;
  color: rgb(37, 117, 37);
}

article h3 {
  background-image: linear-gradient(
    to right,
    rgb(157, 255, 178),
    rgb(247, 247, 247)
  );
}

article img {
  display: block;
  margin: auto;
}

section#video {
  background-color: darkgreen;
}

iframe {
  display: block;
  margin: auto;
  padding: 20px;
}

article h4 {
  background-color: rgb(53, 161, 67);
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  color: white;
  margin-right: -21px;
  margin-left: -21px;
}

section#learn-more div {
  border-radius: 5px;
  padding: 0px 21px 21px 21px;
  margin: 10px;
  background-color: rgb(220, 255, 220);
}

footer {
  background-color: darkgreen;
  color: white;
}

footer p {
  padding: 5px;
}
