@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/ /*Allow to use to bottom gradient*/
}

body {
  background-image: linear-gradient(to right, #024959, #026773);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 15, 19, 0.774);
  width: 600px;
  padding: 10px;
  margin: auto;
}
h1 {
  color: #012e40;
  text-align: center;
  text-shadow: 1px 1px 2px #00111875;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  color: #3ca6a6;
  font-size: 1.5em;
}

p {
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
}
